/*external styling starts*/
#external{
	color: yellow;
}

/*universal selector*/
*{
	font-family: "Times New Roman", monospace;
	font-size: 18px;
}

/*type selector*/
h1{
	font-size: 36px;
}

/*id selector*/
#uppercase{
	text-transform: uppercase;
}

/*class selector*/
.languages{
	background-color: #96c72e;
}

/*attribute selector*/
li[value="tools"]{
	border-width: 2px;
	border-style: solid;
	border-color: black;

}

/*adjacent sibling selector*/
img + ul {
	list-style-type: none;
}

/*descendant selector*/
#section1 img{
	height: 150px;
	width: 150px;
	border-radius: 30px;
}

/*generic sibling selector*/
h4 ~ p {
	text-align: center;
}

/*child selector*/
body > section > ul > li {
	letter-spacing: 5px;
}

/*external styling ends*/
