/*
CSS Rules
selector{
	property: value;
}
*/

/*Universal Selector*/
*{
	/*monospace acts like an alternate font for Courier New	*/
	font-family: "Courier New", monospace;
	font-size: 20px;
}

body{
	background-color: skyblue;
}

html{
	scroll-behavior: smooth;
}

/*navigation bar*/
nav{
	background-color: white;
}

/*selector:hover psuedo class*/
/*changes the style when hovered over*/
a:hover{
	background-color: #b4d6e3;
}

div{
	display: inline-block;
	float: right;
}

/*type selector*/
h1{
	color: darkviolet !important;
	/*The !important property has the highest priority.
	Using this will prioritize the property.	*/
	text-align: center;
	font-size: 2rem;
}

/*landing section*/
section{
	height: 100vh;
	text-align: center;
}

h2{
	font-size: 1.5rem;
}

/*id selector*/
/*#id-name*/
#zuitt-motto{
	letter-spacing: 5px;
	/* the letter spacing property changes the spaces
	in between character in text	*/
}

h3{
	letter-spacing: 25px;
}

/*Adjacent Sibling Selector*/
/*selector + selector*/
h3 + img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

/*#zuitt-motto + img {
	height:300 px;
	width: 300 px;
	border-radius: 	50px;
	}*/

	/*The selectors used for combinator selectors aren't 
	limited/restricted to 1 selectors only. ID, class, 
	attribute and universal selector may also be used	*/
	/*The height, changes the vertical dimension	*/
	/*The width , changes the horizontal dimension	*/
	/*The border-radius, changes the corners of the element from
	sharp to a round corners.	*/

ol{
	list-style-type: none;
}

/*Class-selector*/
/*.class-name*/
.offering-item{
	text-transform: uppercase;
	/* the text-transform property changes font to a cetain
	case, the value uppercase changes the text to all 
	capitalized letter.	*/
}

/*Descendent selector*/
/*selector selector*/
#bootcamp-learning-list li {
	color: #070966;
}
/*The color property and similar properties that change color
can also accept hex values. Hexadecimal values is consist of 
(#) sign in combination with 6 alphanumeric characters*/


/*General Sibling Selector*/
/*selector ~ selector*/
h2 ~ a {
	text-decoration: none;
}
/*The text decoration, is a property that changes lines 
included in text (overline, underline and strike through)*/
/*The value none, will remove the underline form links*/


/*Child Selector*/
/*selector > selector*/

body > section > form > label {
	color: rgb(237,17,35);
}
/*The child selector may include more than two selectors
and the last tag element is where the changes will happen*/

/*Attribute-selector*/
/*tagname[attribute]*/

input[required]{
	border-width: 2px;
	border-style: solid;
	border-color: navy;
	width: 90%;
}


/*registered section*/

form{
	text-align: center;
	background-color: white;
	height: 185px;
	width: 25vw;
	border: 2px solid black;
	position: relative;
	left: 37.25%;
}

button{
	background-color: #cf0053;
	color: white;
	border: 0;
	border-radius: 15px;
}